
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
.grid{ 
    max-width: 1200px;
    width: 90%;
    margin: auto;   
}
body{
    background: linear-gradient(178.35deg, rgba(35, 104, 236, 0.97) 32.89%, rgba(3, 87, 249, 0.47) 135.75%);
    background-repeat: no-repeat;
    height: 100%;
    
}
h1{
    display: none;
}




header{
    background-color: #010101;
    padding: 10px 0px;
    width: 100%;
    display: flex;

}
#menu{
    display: none;
}
.funcoes_header form{
    display: flex;
    align-items: center;
}
.funcoes_header input{
    width: 25vw;
    height: 20px;
    border-radius: 9px;
    border: none;
    padding-left: 10px;
    
}
.funcoes_header button{
    background-color: transparent;
    position: absolute;
    border: none;
    height: 48px;
    width: 30px;
    padding-right: 50px;
}
.funcoes_header{
    display: flex;
    align-items: center;
}
.funcoes_header h1{
    display: none;
}
.funcoes_header .fav_car{
    display: flex;
    width: 190px;
    justify-content: end;

}
#favoritos{
    padding-left: 40px;
}
.area_login{
    display: flex;
    width: 170px;
    justify-content: flex-end;
    color: white;
    font-size: 19px;
    padding-right: 35px;
    padding-left: 60px;
}
.area_login p{
    padding-left: 5px;
}
.funcoes_header form{
    display: flex;
    width: 700px;
    justify-content: flex-end;
    padding-right: 35px;

}





.bar{
    background-color: rgba(16, 138, 35, 0.63);
    padding: 10px;
}
.links_bars{
    display: flex;
    font-size: 20px;
    justify-content: space-between;

}
.links_bars a{
    color: white;
    text-decoration: none;
}
.links_bars form{
    display: none;
}




.fundo{
    padding-top: 15px;
    padding-bottom: 15px;
}
.destaques{
    background: url(../imagens/fundo\ das\ promos.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
}






.ofertas{
    background: rgba(197, 188, 188, 0.53);
    border-radius: 10px;
    border-top: 20px;
    padding: 15px;
    align-items: center;
    text-align: center;
    


}
.ofertas h2{
    font-size: 27px;
    font-family: 'Titillium Web', sans-serif;
    


    
}
.ofertas h3{
    font-size: 20px;
    padding: 8px;


}


.grade_ofertas{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    flex-wrap: wrap;
    
}
.pc_gamer{
    background: rgba(217, 217, 217, 0.9);
    display: flex;
    border-radius: 9px;
    width: 250px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;   
}



.ofertas_principal{
    padding-bottom: 10px;
}
.bloco_ofertas{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.ofertas_itens{
    background: rgba(217, 217, 217, 0.9);
    width: 230px;
    height: 325px;
    margin: 12px;
    border-radius: 4px;

}
.ofertas_itens button{
   padding-left: 170px;
   padding-top: 10px;
   border: none;
   background: none;    
}
.ofertas_itens a{
    padding-left: 10px;
}
.ofertas_itens h2{
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 12px;
    font-family: 'Titillium Web', sans-serif;

}
.ofertas_itens .comprar{
    width: 200px;
    background-color: red;
    align-items: center;
    padding: 5px 65px;
    border-radius: 4px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}


.retangulo_ofertas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    flex-wrap: wrap;
}
.retangulo_ofertas h3{
    color: white;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}

.oferta_1{
    background-image: url(../imagens/Group\ 11.png);
    background-repeat: no-repeat;
    width: 498px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.oferta_2{
    background-image: url(../imagens/Group\ 12.png);
    background-repeat: no-repeat;
    width: 498px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}





/* css do footer*/

.links_footer{
    background: #0D0101;
    height: 100%;
}
.links_colum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links_footer h3{
    color: white;
}
.link_cadastro{
    display: flex;
    flex-direction: column;
}
.link_cadastro :not(first-child){
    display: flex;
    flex-direction: column;
    padding: 7px;

}
.cadastro_email{
    position: relative;
}
.link_cadastro a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.link_cadastro h3{
    font-size: 30px;
    padding: 10px 0px;
    font-family: 'Titillium Web', sans-serif;
    
}
.cadastro_email{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.link_cadastro input{
    width: 78%;
    background-color: lightgray;
    border: none;
}
.link_cadastro button{
    background-color: rgba(255, 0, 0, 0.807);
    font-family: serif;
    font-size: 15px;
    width: 60px;
    position: absolute;
    right: 0px;
    border: none;


    

}
.link_redes{
    display: flex;
    flex-direction: column;
    padding: 7px;
    
}
.link_redes a{
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.link_redes h3{
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    padding: 9px;
}
#site_seguro{
    margin: 20px;
}







  /* responsividade */
@media screen and ( max-width: 1024px){
    .funcoes_header{
        display: flex;
        justify-content: center;
    }
    .fav_car{
        position: absolute;
        right: 60px;
    }
    .area_login{
        display: none;
    }
    .funcoes_header form{
        display: none;
    }
    #menu{
        display: flex;
        position: absolute;
        left: 60px;
    }
    
    #favoritos{
        display: none;
    }
    .links_bars a{
        display: none;
    }
    .links_bars form{
        display: flex;
    }

    
}





